[Unit]
Description=WebEye services Image Carving (postprocess)
Documentation=https://webeye.services

[Service]
ExecStart=/var/lib/webcam/postproces/bin/wc-postproc run-daemon
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target

